# Build files
*.d
*.o

# Output files
**/OutFiles/*
**/OutFiles_OldSolver/*
*.txt
*.mat

# Temp files
*.m~

# Files not used
**/NotUsing/*


# Figures
**/figures/*
**/figures_OldSolver/*

# Compiled files
**/BeliefsCollection
**/Solver
**/Simulator
**/slprj/*
**/testsimulink_grt_rtw/*

# Others
*.dSYM
.DS_Store
*_rti1401/
slprj/
*_slrt_rtw/
